<<<<<<< HEAD
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
=======
@import "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900";
>>>>>>> 090c226 (optimize css)
=======
@import "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900";
>>>>>>> 090c226c17afc7140418fe371afb73b224d0f019

#estimated-value
{
	text-align:right
}

#estimated-value > h3
{
	color:green;
	font-size:16px;
	font-weight:720
}

#estimated-value > h4
{
	font-size:13px
}

#item-details
{
	background-color:rgba(var(--off-white),1);
	border:4px outset silver;
	border-radius:1px 1px 15px 15px;
	border-top:0;
	box-shadow:6px 6px 6px rgba(0,0,0,0.0);
	height:450px;
	margin-bottom:8px
}

#item-details .hidden
{
	display:none
}

#show-item-info
{
	display:block;
	padding:3px
}

#type-description
{
<<<<<<< HEAD
<<<<<<< HEAD
	font-size: 16px;
=======
>>>>>>> 090c226 (optimize css)
=======
>>>>>>> 090c226c17afc7140418fe371afb73b224d0f019
	background-color:rgba(151,151,201,1);
	border-radius:15px;
	padding:9px
}

#type-image
{
	text-align:center;
	vertical-align:top
}

#type-name > h2
{
	font-size:28px
}

#user-input
{
	display:grid;
	flex-grow:1;
	flex-shrink:1;
	grid-gap:1px;
	grid-template-columns:repeat(3,1fr)
}

*
{
	background-color:transparent;
	border-collapse:collapse;
	border-spacing:0;
	box-sizing:border-box;
	font:12px 'Karla',sans-serif;
	margin:0;
	padding:0;
	--inverse-off-black:203,205,206;
	--inverse-off-white:7,15,28;
	--middle-gray:128,128,128;
	--nav-width:75px;
	--off-black:52,50,49;
	--off-gray:196,190,178;
	--off-white:248,240,227;
	--one-quarter-gray:64,64,64;
	--three-quarters-gray:192,192,192
<<<<<<< HEAD
<<<<<<< HEAD

	--body-font-family: 'Open Sans', sans-serif;
	--header-font-family: 'Amaranth', sans-serif;
=======
>>>>>>> 090c226 (optimize css)
=======
>>>>>>> 090c226c17afc7140418fe371afb73b224d0f019
}

.dropdown
{
	position:relative
}

.dropdown .option
{
	background:rgba(var(--off-white),1);
	border:1px solid gold;
<<<<<<< HEAD
<<<<<<< HEAD
	border-radius:1px 1px 15px 15px;
	border-top:none;
	box-shadow:3px 6px 3px rgba(0,0,0,0.5);
	left:3%;
	opacity:0;
	overflow:hidden;
	position:absolute;
	top:22px;
	transition:.3s;
	visibility:hidden;
	width:94%
=======
=======
>>>>>>> 090c226c17afc7140418fe371afb73b224d0f019
	border-radius:0 0 15px 15px;
	border-top:0;
	box-shadow:3px 3px 3px rgba(0,0,0,0.5);
	left:1%;
	opacity:0;
	overflow:hidden;
	position:absolute;
	top:24px;
	transition:.3s;
	visibility:hidden;
	width:98%
<<<<<<< HEAD
>>>>>>> 090c226 (optimize css)
=======
>>>>>>> 090c226c17afc7140418fe371afb73b224d0f019
}

.dropdown .option div
{
	cursor:pointer;
	font-size:14px;
	padding:3px
}

.dropdown .option div:hover
{
<<<<<<< HEAD
<<<<<<< HEAD
	background-image:radial-gradient(rgba(255,215,0,.8) 30%,rgba(0,0,0,0));
	border-radius:1px;
=======
	background-image:linear-gradient(90deg,rgba(255,215,0,1) 75%,rgba(0,0,0,0));
	border-radius:5px;
>>>>>>> 090c226 (optimize css)
=======
	background-image:linear-gradient(90deg,rgba(255,215,0,1) 75%,rgba(0,0,0,0));
	border-radius:5px;
>>>>>>> 090c226c17afc7140418fe371afb73b224d0f019
	font-size:15px;
	font-weight:750
}

.dropdown.active .option
{
	opacity:1;
	padding:4px;
	visibility:visible
}

.dropdown.active::after
{
	right:17px
}

.dropdown.active::before
{
	right:11px
}

.dropdown::after
{
	background:rgba(var(--off-black),1);
	content:"";
	height:2px;
	position:absolute;
	right:11px;
	top:15px;
	transform:rotate(-45deg);
	transition:.25s;
	width:10px;
	z-index:10
}

.dropdown::before
{
	background:rgba(var(--off-black),1);
	content:"";
	height:2px;
	position:absolute;
	right:17px;
	top:15px;
	transform:rotate(45deg);
	transition:.25s;
	width:10px;
	z-index:10
}

.tab-content
{
	margin-top:0
}

.tab-content.active
{
	display:block
}

.tab-link
{
	background-color:rgba(151,151,201,1);
	border:4px outset silver;
	border-bottom:none;
	border-radius:15px 15px 0 0;
	color:gold;
	font-size:13px;
	font-weight:750;
	line-height:28px;
	text-align:center;
	text-decoration:none;
	text-shadow:1px 1px 1px black;
	width:100%;
	word-break:normal
}

.tab-link.active
{
	background-color:rgba(var(--off-gray),1)
}

.tab-link:hover,.tab-link:focus
{
	background-color:rgba(var(--off-white),1);
	border-radius:15px 15px 1px 1px;
	color:rgba(var(--off-black),1);
	margin-bottom:0;
	text-shadow:1px 1px 1px gold
}

.tab-list
{
	display:flex;
	justify-content:space-around
}

body
{
<<<<<<< HEAD
<<<<<<< HEAD
	font-family: 'Open Sans', sans-serif;
=======
	font-family:system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif,sans-serif;
>>>>>>> 090c226 (optimize css)
=======
	font-family:system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif,sans-serif;
>>>>>>> 090c226c17afc7140418fe371afb73b224d0f019
	max-width:100vw;
	padding:3px
}

footer
{
	background-image:linear-gradient(90deg,rgba(100,100,156,1) 0%,rgba(150,150,206,1) 15%,rgba(150,150,206,1) 85%,rgba(100,100,156,1) 100%)
}

form
{
	grid-template-columns:3;
	grid-template-rows:1
}

h1,h2,h3,h4,h5,h6
{
	color:gold;
<<<<<<< HEAD
<<<<<<< HEAD
	font-family: 'Amaranth', sans-serif;
=======
	font-family:"Spectral",serif,"Source Sans Pro",sans-serif;
>>>>>>> 090c226 (optimize css)
=======
	font-family:"Spectral",serif,"Source Sans Pro",sans-serif;
>>>>>>> 090c226c17afc7140418fe371afb73b224d0f019
	text-shadow:1px 1px 1px black
}

header
{
	color:rgba(64,64,64,1);
	display:block;
	grid-template-columns:auto;
	margin:3px;
	margin-bottom:12px;
	width:100%
}

header > section
{
	display:block;
	grid-column:2;
	grid-row:1
}

header > section > h1
{
	font-size:48px;
	grid-row:1;
	line-height:40px
}

header > section > h2
{
	font-size:32px;
	grid-row:2;
	line-height:30px
}

html
{
<<<<<<< HEAD
<<<<<<< HEAD
	background-image:linear-gradient(90deg, rgba(50,50,106,1) 0%,rgba(100,100,156,1) 15%,rgba(100,100,156,1) 85%,rgba(50,50,106,1) 100%);
=======
	background-image:linear-gradient(90deg,rgba(50,50,106,1) 0%,rgba(100,100,156,1) 15%,rgba(100,100,156,1) 85%,rgba(50,50,106,1) 100%);
>>>>>>> 090c226 (optimize css)
=======
	background-image:linear-gradient(90deg,rgba(50,50,106,1) 0%,rgba(100,100,156,1) 15%,rgba(100,100,156,1) 85%,rgba(50,50,106,1) 100%);
>>>>>>> 090c226c17afc7140418fe371afb73b224d0f019
	height:100%;
	overflow-x:hidden;
	width:100%
}

input
{
	background-color:rgba(var(--off-white),1);
	border:4px inset gold;
	border-radius:15px;
	cursor:pointer;
	font-size:16px;
	left:0;
	outline-color:black;
	outline-style:solid;
	outline-width:1px;
	padding:3px;
	position:relative;
	top:0;
	width:100%
}

input:disabled
{
	background-color:rgba(128,128,128,0.8);
	border:0;
	transform:scale(0.9,0.1)
}

main
{
	padding:6px
}

table
{
	margin:9px
}

td
{
	word-break:normal
}

th
{
	font-weight:normal;
	overflow:hidden;
	padding:6px;
	text-align:left;
	vertical-align:top;
	word-break:normal
}

@media screen and (max-width: 767px) {
	#user-input
	{
		grid-template-columns:1;
		grid-template-rows:3;
		max-width:767px
	}

	*
	{
		font-size:14px
	}
}

@media screen and (max-width: 600px) {
	#user-input
	{
		max-width:600px
	}

	*
	{
		font-size:15px
	}

	.column
	{
		width:100%
	}

	.tab-link
	{
		font-size:22px
	}
}