* {
  --nav-width: 75px;
  --off-white: 248, 240, 227;
  --inverse-off-black: 203, 205, 206;
  --three-quarters-gray: 192, 192, 192;
  --off-gray: 196, 190, 178;
  --middle-gray: 128, 128, 128;
  --one-quarter-gray: 64, 64, 64;
  --off-black: 52, 50, 49;
  --inverse-off-white: 7, 15, 28;
/*  
  rgb(88, 24, 69)
  rgb(144, 12, 63)
  rgb(199, 0, 57)
  rgb(255, 87, 51)
  rgb(255, 195, 0)
  rgb(218, 247, 166)
*/
  --primary-shade1: 88, 24, 69;
  --primary-shade2: 144, 12, 63;
  --primary-shade3: 199, 0, 57;
  --secondary-shade1: 255, 87, 51;
  --secondary-shade2: 255, 195, 0;
  --background: 218, 247, 166;
}


.autocomplete {
  
  position: relative;
  
    display: inline-block;
  }
  
  .autocomplete-items {
    position: absolute;
  
    border: 1px solid #d4d4d4;
  
    border-bottom: none;
  
    border-top: none;
  
    z-index: 999;
  
    top: 100%;
  
    left: 0;
  
    right: 0;
  }
  
  .autocomplete-item {
    padding: 10px;
  
    background-color: transparent;
  
    border-bottom: 1px solid #d4d4d4;
  
    cursor: pointer;
  }
  
  .autocomplete-item :hover {
    background-color: #e9e9e9;
  }